#header {
  padding: 5px;
  text-align: center;
  background-color: #00ff00;
  opacity: 0.9;
  position: relative;
}
#header .go_home {
  position: absolute;
  right: 5px;
  top: 5px;
}
#header .to_market {
  position: absolute;
  left: 5px;
  top: 5px;
}
