#hospital{
  .cats{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 40%;
      &.xin{
        width: 10%;
      }
    }
  }
  .btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    button{
      border: none;
      padding: 5px;
      width: 20%;
      background-color: red;
      color: white;
      border-radius: 5px;
    }
  }
}
